<h1 id="page-title">{{createTitle()}}</h1>

<p class="intro">Sorbet and sherbet are two delicious, fruit-based frozen desserts that people often get confused (or don't even realize they are different in the first place). So how do you know which is which?</p>

<img class = "float-right w400" src={{imageURL}} />
<h3>Sorbet</h3>
<p>This cold concoction is made of fruit and sugar that have been churned and frozen and has no dairy content. It needs to sit at room temperature a little before enjoying it, so that it softens. It has been known to be used as a palate-cleanser between courses at high-end restaurants, but is also a dessert in its own right. It's a great option when you want the deliciousness of ice cream but are lactose-intolerant (or just limiting your calorie intake).</p>
<p class="fun-fact">Fun fact: According to some sources, sorbet can be traced back thousands of years to the far east and middle east!</p>

<h3>Sherbet</h3>
<p>This silky-smooth dessert is made not only of fruit and sugar but also cream. Its dairy content (1-2% milkfat) isn't nearly that of ice cream, however (10% milkfat). Sometimes it is also made with egg whites and gelatin. You may have heard people call it "sherbert", but there is only one R!</p>
<p class="fun-fact">Fun fact: Several centuries ago sherbet was called "sharab" in Persian, and an alcohol-infused version was called "sharbat" in Arabic.</p>