<h1 id="page-title"><!-- TODO: Put placeholder here to display result of method to create title --></h1>

<p class="intro"><!-- TODO: Write one or two sentences here to introduce what you'll be comparing --></p>

<img class = "float-right w400" src="" /> <!-- TODO: Replace the empty quotes for the src attribute with the placeholder for your imageURL field -->
<h3><!-- TODO: Use an Angular placeholder to display your thingOne variable here --></h3>
<p><!-- TODO: Write 2-3 sentences about the uniqueness of thing one! --></p>
<p class="fun-fact">Fun fact: <!-- TODO: 1-2 sentences will do here --></p>

<h3><!-- TODO: Use an Angular placeholder to display your thingTwo field here --></h3>
<p><!-- TODO: Write 2-3 sentences about the uniqueness of thing two! --></p>
<p class="fun-fact">Fun fact: <!-- TODO: 1-2 sentences will do here --></p>